nav {
	height:1em;
	line-height:1em;
	margin:20px 20%;
}
ul {
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
    }
a {
        float:left;
        width:6em;
        text-decoration:none;
        color:white;
        background-color:blue;
        border-right: 1px solid white;
    }
aside{
        float:right;
        width:30%;
        font-size: 20px;
        font-style: italic;
        color: green;
        border-style: groove;
        background-color: lightgray;
        margin-top: 10px;
        }

main{
    float: left;
}
footer, hr {
    clear:both;
    margin-top: 20px;
    width: 30%;
    float: left;
    }
h2{
    text-align: center;
}
header{
    text-align: center;
}
hr{
    width: 100%;
}

