body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: white;
}
main{
    margin-left: 0%;
}

#Me{
    width: 340px;
    height: 500px;
  }
.header{
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 3;
}
.header ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type:none;
    background-color: white;
}

.header ul a{
    display: block;
    padding: 20px;
    border-right: 1px blue;
    background-color: blue;
    text-decoration: none;
    color: white;
}

.header ul a:hover{
    background-color: red;
}

.header .menu{
    clear:both;
    max-height: 0;
    transition: max-height .1s ease-out;

}
.header .menu-icon{
    padding: 15px 20px;
    position: relative;
    float:right;
    cursor: pointer;

}

.header .menu-icon .nav-icon{
    background-color: black;
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    transition: all .1s ease-out;
    top:5px;

}
.header .menu-icon .nav-icon:after{
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top:-5px;

}
.header .menu-btn{
    display:none;

}

.header .menu-btn:checked ~ .menu{
    max-height: 420px;
}


aside{
        float:left;
        width:70%;
        font-size: 10px;
        font-style: italic;
        color: white;
        border-style: groove;
        background-color: blue;
        margin-top: 10px;
        }

main{
    float: left;

}
#Me{
    width: 347px;
    height: 500px;
  }
footer, hr {
    clear:both;
    margin-top: 10px;
    width: 100%;
    float: left;
    }
h2{
    text-align: center;
    float: left;
    margin: 5px 32%;
}
header{
    text-align: center;
}
hr{
    width: 100%;
}


