body {
    margin: 0px;
    min-width: 800px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;

}

.categories {
    text-align: center;
}

#caution1 {
    color: red;
    text-align: center;

}

/*HEADER*/

.a1 {
    text-decoration: none;
    margin: 20px;
    float: right;
    font-size: 1.2em;
    color: yellow;

}

a:is(:active).active {
    color: yellow;
    background-color: aqua;
}

header{
    width: 100%;
    height: 40px;
    background-color: mediumorchid;
    box-shadow: 0px 0px 3px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_container {
    display: inline-block;
    width: 30%;
    font-weight: bold;
    font-size: 1.1em;

}

#header_icon {
    height: 35px;
    vertical-align: middle;
}

#header_title {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
    font-family: cursive;
}

#nav {
    width: 69%;
    display:inline-block;
    text-align: right;
    font-weight: lighter;
    font-size: 1.1em;

}

/*MAIN CONTENT*/

#history {
    text-align: center;
}

/*2 equal collums*/

* {
    box-sizing: border-box;
  }

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.column2 {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}



.menu {
    margin: 20px 40%;
    text-decoration: none;
    font-size: 1.5em;
}

/*MAP AND HOURS*/

#LaH {
    margin-top: 2%;
}


#map {
margin: 5% 40%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
th, td {
    padding: 10px;
    text-align: left;
  }
#table{
  margin: 20px 33%;
  background-color: white;
  
}

 /* image */
 .foodMenu:hover {
    opacity:0.4;
 }


/*FOOTER*/

footer, hr {
    clear:both;
    margin-top: 20px;
    width: 100%;
    float: left;
    background-color: mediumorchid;
    color: yellow;
    }

#copyright {
    float: left;
    width: 85%;
}

#footer_logo {
    float: left;
    width: 15%;
}


    /*order.html*/

#ifYes {
    visibility: hidden;
}

#ifChose {
    visibility: hidden;
}